/*******************
* 練習用のCSSである。
* 読み込んでくれると嬉しい。
* 
* 
*******************/

header{
  background-color: yellow;
  border-bottom: green;
  
}

header p {
  float: left;
}

ul {
  float:right;
}

.contents-wrapper {
  border: 2px solid #000000;
}

.content {
  float: left;
}

.clear {
  clear: left;
}

ul {
  list-style: none;  
}

table {
  width: 45%;
  float:left;
  background-color: #444;
}

td {
  border:1px solid #fff;
}

.links {
  background-color: #666;
  width: 45%;
  float: right;
}
